/* shared Style */

* {
  margin: 0px;
  padding: 0px;
  font-family: "Lato", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

.btn-primary {
  border-radius: 5px;
  background: #ff900e;
  padding: 10px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  border: 0;
  margin-top: 20px;
}
/* Nav-bar */
header {
  padding: 50px 240px;
  background: rgba(255, 144, 14, 0.1);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-heading {
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--dark-01, #131313);
}
nav > ul {
  display: flex;
}
nav li {
  list-style: none;
  margin-right: 30px;
  font-weight: 500;
  font-size: 1rem;
}

nav li a {
  text-decoration: none;
  color: var(--dark-02, #424242);
}

/* Banner */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-img{
    margin-top: 20px;
    width: 100%;

}